<simple-notifications></simple-notifications>
<div class="container top-container-margin">
  
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
     <!-- <h3 class="text-center">Welcome</h3> -->

    <h3 class="text-center">Change your password for Affordable City account.</h3>
    <br>
    <div class="row">    
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Old Password" formControlName="OldPassword" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="col-lg-12">
        <label *ngIf="changePasswordForm.get('OldPassword').hasError('required') && changePasswordForm.get('OldPassword').touched" style="color: darkred">* Old Password required.</label>
      </div>         
    <div class="input-group input-group-icon">
        <input type="password" placeholder="Password" formControlName="Password" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="col-lg-12">
        <label *ngIf="changePasswordForm.get('Password').hasError('required') && changePasswordForm.get('Password').touched" style="color: darkred">* Password required.</label>
      </div>

      <div class="input-group input-group-icon">
        <input type="password" placeholder="Re Enter Password" formControlName="ConfirmPassword" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="col-lg-12">
        <label *ngIf="changePasswordForm.get('ConfirmPassword').hasError('required') && changePasswordForm.get('ConfirmPassword').touched" style="color: darkred">* Password required.</label>
        <div class="alert alert-danger" *ngIf="MatchValidator(changePasswordForm)">Password not match</div>
      </div>
    </div>

    <div class="row">
      <div class="input-group">
        <button  [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-lg btn-success col-lg-12"><b>Change Password</b></button>
      </div>
    </div> 
   </form>
</div>
