.signup-popup{
    background-color: white;
    border-color: purple!important;
    border-radius: 0.5em!important;
    border-width: 1.5px!important;
    height: 469px!important;
    padding-top: 0%!important;
    padding-left: 0em!important;
    width: 663px!important;
}