<hr style="background-color: #675794">
<nav class="navbar navbar-inverse" style="float: right;" >
    <div class="">

        <ul class="nav navbar-nav navbar-center">
            <li>
                <a routerLink="add-listing">
                   Add Listing
                </a>
            </li>
            <li>
                <a routerLink="about">
                  Tenant Sourcing
                </a>
            </li>
            <li>
                <a routerLink="about">
                 Management Service
                </a>
            </li>


        </ul>
      <!--  <ul *ngIf="state.isAuthenticated; else anonymousUser" class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="#"> {{fullName}}</a></li>
            <li (click)="signOut()">
                <a routerLink="sign-in">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Sign Out
                </a>
            </li>
        </ul>
        <ng-template #anonymousUser>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="sign-up"><i
                    class="fa fa-user-circle-o"
                    aria-hidden="true"></i> Sign Up</a></li>
                <li>
                    <a routerLink="sign-in">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
                    </a>
                </li>
            </ul>
        </ng-template>-->
    </div>
</nav>
