<simple-notifications></simple-notifications>
<div class="container top-container-margin">
  <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm.value)"> 
    <h3 class="text-center">Send password reset instructions</h3>
    <br>
    <div class="row">
     <div class="input-group input-group-icon">
        <input type="email" placeholder="Email Address" formControlName="Email" required/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="col-lg-12">
        <label *ngIf="forgotpasswordForm.get('Email').hasError('required') && forgotpasswordForm.get('Email').touched " style="color: darkred">* Email  required.</label>
        <label *ngIf="forgotpasswordForm.get('Email').dirty " style="color: darkred">* Please enter valid email.</label>
      </div>         
    <div class="row">
      <div class="input-group">
        <button  [disabled]="!forgotpasswordForm.valid" type="submit" class="btn btn-lg btn-success col-lg-12"><b>Send</b></button>
      </div>
    </div>
  </div>
 
  </form> 
</div>

