$slider-padding: 10px !default;

/* Bar Configuration */
$slider-bar-height: 4px !default;
$slider-bar-color: #DDD !default;

/* Picker Configuration */
$slider-picker-size: 20px !default;

$highlight-color: #000;
