<simple-notifications></simple-notifications>
<div class="container top-container-margin">
  
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPassword.value)">
     <h3 class="text-center">Welcome</h3>

    <h3 class="text-center">Reset your password for Affordable City account.</h3>
    <br>
    <div class="row">        
    <div class="input-group input-group-icon">
        <input type="password" placeholder="Password" formControlName="Password" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="col-lg-12">
        <label *ngIf="resetPasswordForm.get('Password').hasError('required') && resetPasswordForm.get('Password').touched" style="color: darkred">* Password required.</label>
      </div>

      <div class="input-group input-group-icon">
        <input type="password" placeholder="Re Enter Password" formControlName="ConfirmPassword" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="col-lg-12">
        <label *ngIf="resetPasswordForm.get('ConfirmPassword').hasError('required') && resetPasswordForm.get('ConfirmPassword').touched" style="color: darkred">* Password required.</label>
        <div class="alert alert-danger" *ngIf="MatchValidator(resetPasswordForm)">Password not match</div>
      </div>
    </div>

    <div class="row">

      <div class="input-group">
        <button  [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-lg btn-success col-lg-12"><b>Reset Password</b></button>
      </div>
    </div> 
   </form>
</div>
