<simple-notifications></simple-notifications>
<!-- <div class="backdrops"></div> -->

<div class="container" style="box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2)!important;">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
            <div style="width: 587px;text-align: right;margin-top: -4%;">
                    <a><i class="fa fa-close" data-dismiss="modal" #closeBtn></i></a>
                  </div>
        <h1 class="text-center" style="position: relative;
        margin-top: -3%;" >Welcome</h1>
       
        <h1 class="text-center">Sign up for a Affordable City account.</h1>
        <br>
        <div class="row" style="margin-top:-2%!important">
            <div class="input-group input-group-icon">
                <input type="text" placeholder="First Name" formControlName="FirstName" required/>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:-1em!important;">
                <label *ngIf="signupForm.get('FirstName').hasError('required') && signupForm.get('FirstName').touched" style="color: darkred;font-size: 13px!important;">* First name required.</label>
            </div>
            <div class="col-lg-12" style="margin-top:-1em!important;">
                <label *ngIf="signupForm.get('FirstName').hasError('minlength') && signupForm.get('FirstName').touched" style="color: darkred;font-size: 13px!important;">* Minimum 3 character required.</label>
            </div>
            <div class="input-group input-group-icon">
                <input type="text" placeholder="Last Name" formControlName="LastName" />
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="input-group input-group-icon">
                <input type="email" placeholder="Email Address" formControlName="Email" required/>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:-1em!important;">
                <label *ngIf="signupForm.get('Email').hasError('required') && signupForm.get('Email').touched" style="color: darkred;font-size: 13px!important;">* Email required.</label>
            </div>
            <div class="col-lg-12" style="margin-top:-1em!important;">
                <label *ngIf="signupForm.get('Email').hasError('email') && signupForm.get('Email').dirty" style="color: darkred;font-size: 13px!important;">* Please enter valid email.</label>
            </div>
            <div class="input-group input-group-icon">
                <input type="password" placeholder="Password" formControlName="Password" required/>
                <div class="input-icon">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="col-lg-12" style="margin-top:-1em!important;">
                <label *ngIf="signupForm.get('Password').hasError('required') && signupForm.get('Password').touched" style="color: darkred;font-size: 13px!important;">* Password required.</label>
            </div>
            <div class="col-lg-12" style="margin-top:-1em!important;">
                <label *ngIf="signupForm.get('Password').hasError('pattern') && signupForm.get('Password').dirty" style="color: darkred;font-size: 13px!important;">* Please provide strong password.</label>
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <button [disabled]="!signupForm.valid" type="submit" class="btn btn-lg btn-success col-lg-12 btnSubmit">
                    <b>CREATE ACCOUNT</b>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
           
            <div class="col-sm-12" style="text-align:center;padding:.2em;">
                    <div class="col-sm-6" style="float:left;">
                            <a routerLink="../sign-in" style="color:dimgray;text-decoration:underline;" >Terms of Use</a>   
                      </div> 
                      <div class="col-sm-6" style="float:right;">
                            <a routerLink="../sign-in" style="color:dimgray;text-decoration:underline;" >Privacy Policy</a>
                      </div>
            </div>
            <!-- <div class="col-sm-12" style="text-align:center;font-weight: bold!important;
            font-size: 15px;color:dimgrey;" >
                    Already have an account 
                    <a data-dismiss="modal"  href="#" data-toggle="modal" data-target="#signInModel1" style="color:dimgray;text-decoration:underline;"> sign in </a>
                 </div> -->
        </div>
</div>

<!-- 
<div id="signInModel2" class="modal fade" role="dialog">
        <div class="modal-dialog">          
                  <div class="modal-content" style="background-color:transparent;border:none;">                  
                      <div class="modal-body">
                              <app-signin></app-signin>
                              <div class="row" style="margin-left:20%;">
                                      <h2 style="color:dimgray;" >Don't have an account </h2>&nbsp;&nbsp; 
                                       <h2><a data-dismiss="modal"  href="#" data-toggle="modal" data-target="#signUpModel1" style="color:dimgray;text-decoration:underline;"> sign up </a></h2>
                                  </div> 
                          <br>
                      </div>
                  </div>
              </div>
          </div>  -->